.git
.gitignore
.vscode
__pycache__
**/__pycache__
*.pyc
frontend/node_modules
frontend/.next
frontend/out
parser.out
compiler/parser.out
output.txt
c_output.txt
bitacora.txt
docker-compose.yml
README.md
